body {
  text-align: center;
  display: grid;
  place-content: center;
  background-color: black;
}
#title {
  font-size: 5rem;
  background: #8f5ef1;
  background: -webkit-linear-gradient(
    to right,
    #8f5ef1 66%,
    #ff52dc 100%,
    #ff96b6 30%
  );
  background: -moz-linear-gradient(
    to right,
    #8f5ef1 66%,
    #ff52dc 100%,
    #ff96b6 30%
  );
  background: linear-gradient(to right, #8f5ef1 66%, #ff52dc 100%, #ff96b6 30%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#chose {
  color: white;

  & span {
    color: #8f5ef1;
  }
}
#output {
  margin-bottom: 10px;
}
#details {
  width: 500px;
  background-color: salmon;
  & > * {
    margin: 0;
  }
  h1 {
    font: size 3rem;
  }
  img {
    object-fit: cover;
    width: 100%;
    height: auto;
    animation: fading 1s ease-in-out 0s 1;
  }
  @keyframes fading {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
      transform: rotate(360deg);
    }
  }
  p {
    font-size: 2rem;
    & span {
      font-weight: bold;
    }
  }
}
